body {
  font-family: "Montserrat", sans-serif;
}

button {
  background-color: #998675;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 150px;
  height: 50px;
  border-bottom: 3px solid #736d68;
}
button:hover {
  background-color: #615348;
}

.buttonOurLatest {
  width: 120px;
  height: 35px;
  margin-bottom: 10px;
  font-weight: 400;
  background: none;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}
.buttonOurLatest:hover {
  background: #736d68;
  color: white;
}

span .colorSpan {
  color: #bfab93;
  font-size: 60px;
}

.colorFooterSpan {
  color: white;
}

.colorFooterSpanTeg {
  color: skyblue;
}

p {
  color: #8c8c8c;
}

h2 {
  margin-top: 70px;
  margin-bottom: 23px;
}

a {
  color: #736d68;
}

a:hover {
  text-decoration: none;
  color: #736d68;
  font-weight: 700;
}

.fa-arrow-alt-circle-right, .fa-arrow-alt-circle-left {
  color: #736d68;
}

.colorHover:hover h3, .colorHover:hover p {
  color: #c7b299;
}
.colorHover:hover hr {
  background-color: #c7b299;
}

hr {
  background: #8c8c8c;
}

.carousel-inner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.carousel-inner .carousel-item {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #949494;
  border: none;
  border-radius: 10px;
}

.title {
  position: absolute;
  width: 100%;
  margin: 40vh auto 20vw;
  z-index: 999;
  text-align: center;
}
.title h1, .title h2, .title p {
  color: white;
}

.ourServices h3 {
  height: 80px;
}
.ourServices img {
  height: 44px;
}

.multiperpose {
  background: linear-gradient(to left, #4e3427, #212519);
  color: white;
}

.card img {
  height: 250px;
}

.card-text {
  background-color: black;
  height: 59px;
  width: 48px;
}
.card-text p {
  margin: 7px;
}

.card-body {
  z-index: 110;
}

.card:hover {
  background-color: brown;
  border: none;
}
.card:hover .card-text {
  background-color: grey;
}
.card:hover h3, .card:hover a {
  color: white;
}
.card:hover p {
  color: black;
}

.footerBg {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover cover;
  height: 480px;
}

.footerBlackColor {
  background-color: #191919;
}
.footerBlackColor .imgFooter {
  width: 120px;
  height: 80px;
  margin-top: 10px;
}

.footerEnd {
  background-color: black;
  height: 250px;
}

#carousel {
  width: 70%;
  height: 480px;
  position: relative;
  background: #FFF;
  margin: 36px auto auto auto;
}

.stringAnalitic hr {
  background-color: white;
  width: 20%;
}
.stringAnalitic h4 {
  color: #736d68;
  font-size: 1rem;
}
.stringAnalitic h3 {
  margin-top: 20px;
}

.footerHeight {
  height: 100px;
}

.columnFooter {
  height: 180px;
  border-bottom: 2px solid #252525;
}
.columnFooter p {
  margin-top: 10px;
}

.columnFooter:hover p {
  color: #73675a;
}
.columnFooter:hover .numbersFooter {
  color: white;
}

/*# sourceMappingURL=style.css.map */
