@import url('./_place/video__content-title_place.css');

.video__content-title {
    max-width: 800px;

    margin: 0 auto 32px;
    padding-top: 9px;

    font-size: 72px;
    line-height: 78px;
    text-align: center;

    color: #fff;
}

@media screen and (max-width: 1024px) {
    .video__content-title {
        padding-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .video__content-title {
        max-width: 450px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 700px) {
    .video__content-title {
        max-width: 400px;
    }
}

@media screen and (max-width: 375px) {
    .video__content-title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 23px;
    }
}

@media screen and (max-width: 320px) {
    .video__content-title {
        max-width: 280px;
        margin: 0 auto 19px;
    }
}