.footer__paragraph_copywrite {
    display: flex;
    width: 100%;
    background-color: rgb(238, 238, 238);
    border-top: 1px solid gray;
    justify-content: center;
    color: rgb(130, 130, 130);
}