@import url('./__list/header__list.css');
@import url('./__logo/header__logo.css');
@import url('./__link/header__link.css');
@import url('./_is-opened/header_is-opened.css');
@import url('./__fix/header__fix.css');
@import url('./__paragraph/header__paragraph.css');
@import url('./__container/header__container.css');

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    min-height: 70px;
}

@media screen and (max-width: 920px) {
    .header {
        justify-content: space-around;
    }
}