.fashion__content-title {
    max-width: 350px;
    align-self: center;
    z-index: 2;
    padding: 25px 0;
    position: absolute;
    left: 30%;

    font-size: 35px;
    text-align: center;
    font-weight: normal;

    color: #fff;

}

.fashion__content-title::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    right: 34%;
    width: 32%;
    height: 3px;
    background: #fff;
}

.fashion__content-title:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 34%;
    width: 32%;
    height: 3px;
    background: #fff;
}

@media screen and (max-width: 1024px) {
    .fashion__content-title {
        padding: 25px 0;
        left: 10%;
    }
}

@media screen and (max-width: 400px) {
    .fashion__content-title {
        padding: 25px 0;
        left: 0;
        font-size: 30px;
    }
}

