.options__paragraph.options__paragraph_about {
    position: absolute;
    top: 100px;
    max-width: 220px;
    
    text-align: center;
    line-height: 1.2;
    font-size: 19px;
    font-weight: bold;

    z-index: 2;
}