.options__paragraph.options__paragraph_and {
    position: absolute;
    top: 190px;
}

.options__paragraph.options__paragraph_and::before {
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    left: 20px;
    width: 30px;
    height: 1px;
    background: #fff;
}

.options__paragraph.options__paragraph_and::after {
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    right: 20px;
    width: 30px;
    height: 1px;
    background: #fff;
}