@import url(./__place/places__place.css);

.places {
    max-width: 984px;

    margin: 92px auto 0;

    background-color: #2A2C2F;

    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 768px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 375px) {
    .places {
        padding: 0;
        margin-top: 75px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        padding: 0;
        margin-top: 60px;
    }
}
