@import url('./_link/barentsburg__link_hover.css');

.barentsburg__link {
    display: block;

    width: 282px;

    margin: 12px 0 0;

    transition: opacity 0.5s ease;


    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    text-decoration-line: underline;

    color: #FFFFFF;
}