.write-us__button {
    font-family: monospace;
    grid-area: button;
    height: 50px;

    background-color: rgb(185, 131, 72);
    border: none;
    border-bottom: 2px solid rgb(102, 72, 40);

    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
}

.write-us__button:hover {
    background-color: rgb(175, 120, 61);
    transform: scale(1.1);
}

@media screen and (max-width: 940px) {
    .write-us__button {
        width: 90%;
        margin: 0 auto;
    }
}
