@import url('./__content-title/sew-suit__content-titl.css');
@import url('./__paragraph/sew-suit__paragraph.css');
@import url('./__content-subtitle/sew-suit__content-subtitle.css');

.sew-suit {
    min-height: 450px;
    margin-top: 20px;

    background-image: url('./main__2_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}