/* ALL */

.page {
    font-family: 'Roboto Slab', serif;
}

.arrow-down {
    font-size: 12px;
}

.button {
    height: 45px;
    width: 200px;
}

.button_style {
    border: none;

    background-color: #33c7fd;
    color: #fff;
}

.button:hover {
    background-color: #1c9ece;
}

/* HEADER - NAVIGANION */

.header__navigation {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #ffffff;
    padding-top: 20px;
}

.navigation__list {
    display: flex;
    margin: 0;
}

.navigation__dropdown-list {
    display: inline-block;
    list-style-type: none;
    margin-top: 6px;
    margin-right: 20px;
}

.navigation__dropdown-list:hover {
    cursor: pointer;
    color: #33c7fd;
}

.navigation__phone-support {
    display: inline-block;
    list-style-type: none;
}

.navigation__phone {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.navigation__phone:hover {
    cursor: pointer;
    color: #33c7fd;
    font-weight: bold;
}

.navigation__burger {
    display: block;
    cursor: pointer;
}

.navigation__burger div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    margin-top: 0;

    transition: all 0.3s ease;
}

.navigation__phone-paragraph {
    margin-top: 3px;
    font-size: 12px;
}

/* NAVIGATION-HIDDEN */

/* BURGER */

.navigation__burger-hidden {
    position: absolute;
    top: 6vh;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 19%;
    height: 94vh;
    background-color: #ffffff;

    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

.navigation__burger-active {
    transform: translateX(0%);
}

@keyframes burgerhidden__linkfade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .burger__line-one {
    background-color: #33c7fd;
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger__line-two {
    opacity: 0;
}

.toggle .burger__line-three {
    background-color: #33c7fd;
    transform: rotate(45deg) translate(-5px, -6px);
}

.burger-hidden__list {
    list-style-type: none;
}

.burger-hidden__link {
    text-decoration: none;
    color: #000;
    opacity: 0;
}

.burger-hidden__link:hover {
    color: #33c7fd;
    font-weight: bold;
}

/* PERSONAL ACCOUNT */

.navigation__dropdown-list_personal-account {
    position: relative;
}

.dropdown-list__personal-account-hidden {
    position: absolute;
    top: 45px;
    left: -40px;

    width: 200px;
    height: 200px;

    display: none;
    
    opacity: 0;

    transition: opacity 0.2s ease-in;
}

@keyframes dropdownhidden__linkfade {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.dropdown-list__personal {
    background-color: #ffffff;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-list__list {
    list-style-type: none;
}

.dropdown-list__hidden-link {
    text-decoration: none;
    color: #000;
    opacity: 0;
    font-weight: bold;
}

.dropdown-list__hidden-link:hover {
    font-weight: bold;
    color: #33c7fd;
}

/* CURRENCY */

.navigation__dropdown-list_currency {
    position: relative;
}

.dropdown-list__currency-account-hidden {
    position: absolute;
    top: 45px;
    left: -40px;

    width: 200px;
    height: 200px;

    display: none;
    opacity: 0;

    transition: opacity 0.2s ease-in;
}

.dropdown-list__personal-two {
    background-color: #ffffff;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* LANGUAGE */

.navigation__dropdown-list_language {
    position: relative;
}

.dropdown-list__language-hidden {
    position: absolute;
    top: 45px;
    left: -40px;

    width: 200px;
    height: 200px;

    opacity: 0;
    display: none;

    transition: opacity 0.2s ease-in;
}

.dropdown-list__personal-three {
    background-color: #ffffff;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* HEADER */

.logo {
    width: 88px;
    height: 88px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 650px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header_background-image {
    background-image: url(../img/header__background.jpg);
}

.header__logo {
    position: absolute;
    top: 110px;
}

.header__logo_image {
    background-image: url(../img/logo.png);
}

.header__title {
    position: relative;
    width: 100%;
    margin-top: 190px;
}

.header__title_style-text {
    color: rgb(13, 51, 81);

    font-weight: normal;
    text-align: center;
    font-size: 103px;
    line-height: 1.5;
}

.header__title::first-line {
    font-size: 37px;
    letter-spacing: 4px;

    text-align: center;
}

.header__button {
    position: absolute;
    bottom: 180px;
}

.header__dotted-line {
    position: absolute;
    bottom: -135px;

    height: 290px;
    width: 200px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header__dotted-line_image {
    background-image: url(../img/figure.png);
}

/* MAIN */

.main__link-price {
    text-decoration: none;
    color: #000;
}

.main__link-price:hover {
    color: #33c7fd;
}

/* CARD-MAIN */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.main__title {
    margin: 130px 0 0;
    text-align: center;
}

.main__title_style-text {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 1.2;

    color: rgb(13, 51, 81);
}

.main__subtitle {
    font-size: 20px;
}

.main__card {
    display: flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card__columns {
    position: relative;
}

/* COLUMS TOP */

.card__column-right-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.card__column-left-top_image {
    width: 100%;
    height: 435px;
}

.card__column-top {
    background-color: #fff;
}

.card__column-left-top {
    background-color: #fff;
}

/* COLUMNS BOTTOM */

.card__column-bottom {
    background-color: #fff;
    margin-top: 25px;
}

.card__column-left-bottom {
    background-color: #fff;
    margin-top: 35px;
}
.card__column-right-bottom {
    background-color: #fff;
    margin-top: 35px;
    margin-left: 30px;
}

.arrow-right {
    font-size: 12px;
}

/* CARD-IMAGE */

.card__image {
    width: 100%;
    object-fit: cover;
}

.card__column-left-top_image {
    object-position: 100% center;
}

.card__column-right-top_image {
    height: 113px;
}

.card__column-right-top-bottom_image {
    height: 113px;
}

.card__column-left-bottom_image {
    height: 213px;
}

.card__column-right-bottom_image {
    height: 213px;
}

/* SALE-CARD */

.card__sale {
    position: absolute;
    top: -10px;
    right: 45px;

    width: 100px;
    height: 80px;

    background-color: #33c7fd;
}

.card__sale::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -30px;
    border-bottom: 30px solid transparent;
    border-left: 51px solid #33c7fd;
}

.card__sale::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: -30px;
    border-bottom: 30px solid transparent;
    border-right: 51px solid #33c7fd;
}

.sale__title {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.card__sale_red {
    background-color: rgb(245, 5, 66);
}

.card__sale_red::after {
    border-left: 51px solid rgb(245, 5, 66);
}

.card__sale_red::before {
    border-right: 51px solid rgb(245, 5, 66);
}

.sale__title_margin {
    margin-top: 40px;
}

/* TEXT-CARD */

.card__title {
    display: block;
    margin-top: 10px;

    text-decoration: none;

    color: #33c7fd;
    font-weight: normal;
    margin-left: 30px;
}

.card__title:hover {
    color: #1c9ece;
}

.card__subtitle {
    margin-left: 30px;
}

.card__subtitle::first-line {
    line-height: 2;
}

.card-span-subtitle {
    font-weight: bold;
}


.card__price {
    font-size: 26px;
    margin-left: 30px;
}

.cross-out-price {
    text-decoration: line-through;
    font-size: 20px;
    margin-left: 30px;
    color: grey;

}

/* BUTTON-MAIN */

.main__button {
    margin: 35px 0 60px;
}

/* FOOTER */

.footer {
    display: flex;
    width: 60%;
    margin: 0 auto;

    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 50px;

}

/* LEFT */

.footer__left-footer {
    display: flex;
    justify-content: space-between;
    flex-basis: 450px;
    margin: 30px 0 0;
}

.left-footer__link {
    display: block;
    text-decoration: none;

    margin-bottom: 6px;

    color: #000;
    font-size: 14px;
}

.left-footer__link:hover {
    color: #33c7fd;
}

.left-footer__paragraph {
    margin: 0;
    font-size: 14px;
}

.left-footer__icons {
    margin-top: 15px;
}

.fab {
    font-size: 18px;
    border-radius: 50%;
    background-color: #0d3351;
    color: #fff;
    margin-right: 10px;
}

.fab:hover {
    background-color: #00ccff;
}

.fa-odnoklassniki {
    padding: 7px 12px;
}

.fa-instagram {
    padding: 7px 10px;
}

.fa-youtube {
    padding: 7px 9px;
}

.fa-vk {
    padding: 7px 9px 7px 7px;
}

/* RIGHT */

.footer__right-footer {
    margin: 30px 0 0;
}

.right-footer__phone-number {
    text-decoration: none;
    font-weight: bold;

    color: #000;
}

.right-footer__phone-number:hover {
    color: #00ccff;
}

.right-footer__support {
    margin: 0;
    font-size: 13px;
}

.right-footer__copyright {
    font-size: 14px;
}

/* MEDIA */

@media screen and (max-width: 1536px) {
    .main__card {
        justify-content: space-around;
    }

    .card__column-right-top {
        margin-left: 0;
    }

    .card__column-right-bottom {
        margin-left: 0;
    }
}

@media screen and (max-width: 1496px) {
    .card__column-right-top {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1080px) {
    .header__title_style-text {
        font-size: 73px;
        line-height: 2;
    }
    
    .header__title::first-line {
        font-size: 37px;
    }

    .navigation__burger-hidden {
        align-items: flex-start;
        
        width: 19%;
    }
}

@media screen and (max-width: 770px) {
    .footer__left-footer {
        flex-direction: column;
    }

    .left-footer__social {
        margin-top: 20px;
    }

    .header__title_style-text {
        font-size: 52px;
        line-height: 2;
    }

    .card__sale {
        width: 70px;
        height: 60px;

        right: 15px;
    }

    .sale__title {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .sale__title_margin {
        margin-top: 30px;
    }
}

@media screen and (max-width: 580px) {

    .navigation__dropdown-list_language {
        margin-left: 14px;
    }

    .header__title::first-line {
        font-size: 25px;
    }

    .header__title_style-text {
        font-size: 29px;
        line-height: 2;
    }

    .main__title_style-text {
        font-size: 25px;
    }

    .main__subtitle {
        font-size: 16px;
    }

    .card__title {
        font-size: 14px;
    }

    .card__subtitle {
        font-size: 13px;
    }

    /* NAVIGATION */

    .header__navigation {
        padding: 0;
    }

    .navigation__list {
        flex-direction: column;
        margin-top: 30px;
    }

    .navigation__burger {
        margin-top: 30px;
    }

    .navigation__phone-support {
        position: absolute;
        top: 0;
        left: 0;
    }

    .navigation__phone-paragraph {
        position: absolute;
        width: 200px;
        top: 0;
        left: 140px;
    }

    .navigation__dropdown-list {
        font-size: 15px;
    }

    /* NAVIGATION-HIDDEN */

    .header__navigation {
        min-height: 20vh;
        max-height: 20vh;
    }

    .navigation__burger-hidden {
        top: 20vh;
        height: 80vh;
        margin-top: 0;

        width: 35%;
    }

    .dropdown-list__personal-account-hidden {
        top: 63px;
        width: 300px;
    }
    
    .dropdown-list__currency-account-hidden {
        top: 40px;
        width: 300px;
    }

    .dropdown-list__language-hidden {
        top: 17px;
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .cross-out-price {
        display: block;
    }
}