.video__link {
    display: block;
    color: #fff;
}


@media screen and (max-width: 1280px) {
    .video__link:first-of-type {
        margin-right: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .video__link:first-of-type {
        margin-right: 16px;
 
    }
}

@media screen and (max-width: 700px) {
    .video__link:first-of-type {
        margin-right: 0;
    }
}