@import url('./__link/header__link.css');
@import url('./__logo/header__logo.css');

.header {
    max-width: 1184px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 48px 0;
    margin: 0 auto;

    background-color: #2A2C2F;

    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding: 30px 24px 0;
    }
}

@media screen and (max-width: 375px) {
    .header {
        max-width: 343px;
        padding: 6px 16px 0;
    }
}