.header_is-opened {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
    display: none;
}
@media screen and (max-width: 920px) {
    .header_is-opened {
        display: block;
    }
}