.lead .lead__content-title {
    margin: 59px auto 0;

    font-size: 96px;
    line-height: 92px;
    text-align: center;
    letter-spacing: 1.1px;
    
    color: #fff;
}


@media screen and (max-width: 700px) {
    .lead .lead__content-title {
        font-size: 50px;
        line-height: 54px;
    }
}

@media screen and (max-width: 375px) {
    .lead .lead__content-title {
        margin: 34px auto 0;

        font-size: 40px;
        line-height: 44px;
    }
}