@import url('./_hover/footer__link_hover.css');

.footer__link {
    display: block;
    text-decoration: none;
    transition: opacity 0.5s ease;

    margin-right: 18px;
    
    font-size: 24px;
    line-height: 40px;

    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 700px) {
    .footer__link {
        font-size: 24px;
        line-height: 40px;
        margin: 0 0 16px;
    }
}