.comments__content-subtitle {
    max-width: 640px;

    margin: 0 auto;

    font-size: 24px;
    line-height: 34px;
    text-align: center;

    color: #FFFFFF;
}

@media screen and (max-width: 700px) {
    .comments__content-subtitle {
        max-width: 550px;
        padding: 0 16px;
    }
}

@media screen and (max-width: 375px) {
    .comments__content-subtitle {
        font-size: 16px;
        line-height: 23px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .comments__content-subtitle {
        max-width: 260px;
    }
}