.header__link.header__link_phone {
    display: inline-block;
    text-decoration: underline;
    color: #000;

    padding: 0;
    margin: 0;
}

.header__link.header__link_phone:hover {
    color: rgb(175, 120, 61);
    border-bottom: none;

}