.lead .lead__paragraph {
    margin: 11px 0 0;

    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 300;

    color: #fff;
}

@media screen and (max-width: 1024px) {
    .lead .lead__paragraph {
        margin: 16px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lead .lead__paragraph {
        padding-left: 25px;
    }
}

@media screen and (max-width: 375px) {
    .lead .lead__paragraph {
        padding-left: 16px;
        margin-top: 8px;
    }
}