.lead__image {
    display: block;

    margin: 71px auto 0;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        height: 554px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        height: 420px;
    }
}

@media screen and (max-width: 620px) {
    .lead__image {
        height: 350px;
    }
}

@media screen and (max-width: 375px) {
    .lead__image {
        margin: 33px auto 0;

        height: 211px;
    }
}