@import url('./_bold/intro__statistics_bold.css');

.intro .intro__statistics {
    margin: 0;

    font-size: 13px;
    line-height: 20px;
    font-weight: 300;

    color: #fff;
}

@media screen and (max-width: 375px) {
    .intro .intro__statistics {
        margin-top: 3px;
        
        font-size: 12px;
        line-height: 19px;
    }
}