.video__pic-play {
    position: absolute;
    top: 30px;
    left: 30px;
}

@media screen and (max-width: 768px) {
    .video__pic-play {
        top: 24px;
        left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .video__pic-play {
        top: 16px;
        left: 16px;
    }
}