.callBack__paragraph {
    position: relative;
    margin: 0;
    font-size: 20px;
    font-style: initial;
}

.callBack__paragraph::after {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    right: 34%;
    width: 28%;
    height: 2px;
    background: #000;
}