.write-us__form {
    position: absolute;
    min-width: 900px;
    min-height: 270px;
    top: -90px;
    padding: 40px 0;

    display: grid;
    grid-template-areas: "one two four"  
                       "three three five"
                       "button button button";
    grid-template-columns: 170px 120px 230px;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;

    border: 3px solid #000;
    background-color: #fff;
}

@media screen and (max-width: 940px) {
    .write-us__form {
        min-width: 250px;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 0;
        grid-template-areas: "one two "  
                             "three three"
                             "four four"
                             "five five"
                             "button button";
    }
}

@media screen and (max-width: 350px) {
    .write-us__form {
        min-width: 250px;
        grid-template-columns: 1fr;
        grid-template-areas: "one"
                             "two"
                             "three"
                             "four"
                             "five"
                             "button";
    }
}