.place .place__block-paragraph {
    max-width: 484px;

    margin: 0 0 0 40px;
}

@media screen and (max-width: 1024px) {
    .place .place__block-paragraph {
        max-width: 456px;
    
        margin: 0 0 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place .place__block-paragraph {
        max-width: 352px;
    
        margin: 0 0 0 28px;
    }
}

@media screen and (max-width: 700px) {
    .place .place__block-paragraph {
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .place .place__block-paragraph {
        margin: 0;
        padding: 0 16px;
    }
}