@import url('./__content-title/cover__content-title.css');
@import url('./__content-subtitle/cover__content-subtitle.css');

.cover {
    max-width: 1184px;
    width: 100%;
    height: 594px;
    margin: 102px auto 0;

    background-image: url('cover-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #2A2C2F;

    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1280px) {
    .cover {
        margin: 97px auto 0;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        height: 562px;
        margin-top: 97px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 500px;
        margin-top: 54px;
    }
}


@media screen and (max-width: 375px) {
    .cover {
        height: 272px;
    }
}

@media screen and (max-width: 375px) {
    .cover {
        height: 216px;
    }
}