.carousel-inner > .carousel-item {
	background-size: cover;
	background-position: cover cover;
}

.headerText > .row > .col-8 {
	z-index: 9999;
	color: white;
	border: 3px solid red;
	margin: auto;
	text-align: center;
}


.carousel-indicators li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
/*header {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: cover cover;
	height: 1024px;
}*/

