.footer__sevice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    align-items: center;
    border-right: 1px solid gray;
    min-width: 300px;
    padding: 20px 40px 20px 100px;

}

@media screen and (max-width: 952px) {
    .footer__sevice {
        padding: 0;
        border-right: none;
        padding: 20px 0;
    }
}

@media screen and (max-width: 520px) {
    .footer__sevice {
        padding: 20px 0;
        min-width: 220px;
    }
}