.sew-suit__paragraph {
    position: relative;
    padding: 20px 0 5px 0;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;

    color: #fff;

}

.sew-suit__paragraph::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
