@import url('./__link/footer__link.css');
@import url('./__item/footer__item.css');
@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 1184px;
    margin: 151px auto 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #2A2C2F;

    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1280px) {
    .footer {
        padding: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px auto 0;
        padding: 0 23px;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;
        margin: 51px auto 0;

    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin: 7px auto 0;
    }
}