@import url('./_hover/video__image_hover.css');

.video__image {
    opacity: 0.5;
    transition: opacity 0.7s ease;

    width: 100%;
    height: 323px;
    object-fit: cover;


    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .video__image {
        height: 288px;
    }
}

@media screen and (max-width: 768px) {
    .video__image {
        max-width: 352px;
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    .video__image {
        max-width: 343px;
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .video__image {
        max-width: 280px;
        height: 192px;
    }
}