.video__content-subtitle {
    max-width: 640px;

    margin: 0 auto 65px;
    
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    
    color: #fff;
}

@media screen and (max-width: 768px) {
    .video__content-subtitle {
        margin: 0 auto 48px;
    }
}

@media screen and (max-width: 700px) {
    .video__content-subtitle {
        max-width: 550px;
        padding: 0 16px;
    }
}

@media screen and (max-width: 375px) {
    .video__content-subtitle {
        font-size: 16px;
        line-height: 23px;
        margin: 0 auto 26px;
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .video__content-subtitle {
        max-width: 270px;
    }
}